.cover {
  background-image: url(../images/background.png);
  background-size: cover;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  position: relative;
  max-height: 740px;
}
.cover::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #2a2c2f;
  opacity: 0;
  top: 0;
  left: 0;
  position: absolute;
  transition: 1s ease-in;
}
.cover:hover::before {
  opacity: 0.8;
}
.cover__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
  max-width: 656px;
  z-index: 1;
}
.cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  max-width: 656px;
  text-align: center;
  margin-top: 92px;
}
.cover__paragraph {
  font-size: 18px;
  line-height: 22px;
  padding: 0;
  list-style-type: none;
  text-align: center;
  margin-bottom: 32px;
  margin-top: 32px;
}
.cover__button {
  background-color: #0278fe;
  border-radius: 4px;
  align-self: center;
  margin-bottom: 92px;
}
.cover__button-link {
  font-size: 18px;
  line-height: 21.78px;
  color: white;
  max-width: 97px;
  text-decoration: none;
  padding: 13px 20px 13px 28px;
}
@media screen and(max-width: 960px) {
  .cover {
    max-width: 768px;
  }
}
@media screen and(max-width:600px) {
  .cover {
    max-width: 320px;
  }
  .cover__title {
    max-width: 288px;
  }
}
