.gallery {
  margin: 90px auto 0;
  max-width: 1184px;
}
.gallery__list {
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  margin: auto;
}

.gallery__item {
  max-width: 100%;
}
@media screen and (max-width: 960px) {
  .gallery {
    max-width: 720px;
  }
  .gallery__list {
    grid-template-columns: repeat(auto-fit, minmax(352px 1fr));
    margin: 0 auto;
  }
}

@media screen and(max-width: 600px) {
  .gallery {
    max-width: 288px;
  }
  .gallery__list {
    grid-template-columns: 1fr;
    gap: 12px;
    align-content: center;
  }
}
