.lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 91px auto;
  max-width: 984px;
  max-height: 983px;
  margin: 0 auto;
}
.lead__title {
  max-width: 793px;
  margin: 0 auto;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-weight: 900 bolder;
  font-style: normal;
  font-size: 96px;
  max-height: 200px;
  text-align: center;
  line-height: 100px;
}
.lead__subtitle {
  margin: 32px auto 54px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: thin;
  font-size: 30px;
  line-height: 36px;
  max-width: 720px;
  max-height: 72px;
  text-align: center;
}
.lead__image {
  max-width: 100%;
  max-height: 615px;
  margin: 0 auto;
  filter: grayscale(1);
  display: block;
}
@media screen and(max-width: 960px) {
  .lead__title {
    max-width: 720px;
    max-height: 300px;
  }
  .lead__image {
    max-width: 768px;
    max-height: 480px;
  }
}
@media screen and(max-width: 600px) {
  .lead__title {
    max-width: 288px;
    max-height: 132px;
  }
  .lead__subtitle {
    max-width: 288px;
    max-height: 40px;
  }
  .lead__image {
    max-width: 320px;
    max-height: 200px;
  }
}
