.place {
  max-width: 100%;
  display: grid;
  grid-gap: 40px 48px;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto auto 1fr;
}

.place__title {
  max-width: 460px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin-top: 0;
  margin-bottom: 0;
}

.place__website {
  max-width: 456px;
  align-self: end;
}
.place__artist {
  font-size: 12px;
  line-height: 15px;
  color: #aaaaaa;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}
.place__artist-name {
  font-size: 18px;
  line-height: 22px;
  margin: 8px auto 0;
  list-style-type: none;
  padding: 0;
}
.place__image {
  max-width: 460px;
}

.place__details {
  max-width: 484px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: auto;
}
.place__details:last-of-type {
  margin: 0;
}
.place__details_paragraph {
  display: grid;
  gap: 25px;
  grid-row: 2/-1;
  grid-column: 2/-1;
  grid-template-rows: auto auto 1fr;
}

.places__paragraph {
  max-width: 100%;
  font-size: 18px;
  line-height: 29.34px;
  margin: auto;
}
.place__button {
  background-color: #0278fe;
  max-width: 248px;
  border-radius: 4px;
  text-align: center;
  border: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.78px;
  text-decoration: none;
  opacity: 100%;
  display: block;
  padding: 20px 13px;
}
.place__button:hover {
  background-color: #0063d2;
}
.place__button-size {
  background-color: #0278fe;
  max-width: 248px;
  border-radius: 4px;
  text-align: center;
  border: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.78px;
  text-decoration: none;
  opacity: 100%;
  display: block;
  padding: 20px 13px;
  max-height: 25%;
}
.place__button-size:hover {
  background-color: #0063d2;
}

@media screen and(max-width:960px) {
  .place {
    grid-template-columns: 340px 1fr;
    grid-gap: 28px 48px;
  }
  .place__details {
    max-width: 352px;
  }
  
@media screen and(max-width:600px) {
  .place {
    grid-template-columns: 320px, 1fr;
    grid-gap: 30px;
  }
}
